@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');

#state{
    margin-top : 30px;
    text-align: center;
    font-size : 30px;
    font-family: 'Gaegu', cursive;
}

#board{
    margin-top : 30px;
    margin-left : auto;
    margin-right : auto;
}

.block{
    width : 100px;
    height : 100px;

    background-color : transparent;
    border : 1px solid gray;
    font-size: 30px;
    font-family: 'Gaegu', cursive;
}

#reset{
    display : flex;
    justify-content: center;
}

#resetbtn{
    margin-top : 20px;
    font-size : 20px;
    font-family: 'Gaegu', cursive;
}
